.popup__form-name {
    margin-top: 54px;
    width: 358px;
    height: 27px;
    margin-left: 36px;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border-bottom:1px solid #000000;
    color: #000000;
}